*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    text-align: center;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
    margin-top: 45px;
}
button{
    background-color: blue;
    color: white;
    margin-top: 35px;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
button:hover {
background-color: rgb(76, 238, 84);
color: white;
cursor: pointer;
}
input[type=text],
     [type=password]{
    padding: 15px;
    margin-top: 20px;
}
@media only screen and (max-width: 600px) {
    body {
        max-width: 100%;
    }
}
